<!DOCTYPE html>
<html>
  <head>
    <title>Mole's Hole</title>
    <!-- release -->
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.1.0/github-markdown-light.min.css">
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    <script src="{{ url_for('static', filename='js/preview.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <div class="container">
      <div class="header">
        <div class="personal-header">
          <div class="personal-title">{{ site_name }}</div>
          <div class="personal-intro">{{ personal_intro}}</div>
        </div>
        <div class="header-btn-grp admin-grp">
          <button class="index-btn" onclick="navigateToWriting()">写日志</button>
          <button class="index-btn" onclick="navigateToManage()">管理</button>
        </div>
      </div>
      <div class="sidebar">
        <h3 class="entry-header sidebar-header">MISC</h3>
        <ul class="sidebar-list">
          <li>留言本</li>
          <!-- <li></li> -->
        </ul>
        <h3 class="entry-header sidebar-header">CATEGORIES</h3>
        <ul class="sidebar-list">
          
        </ul>
      </div>
      <div class="main">
        {% for blog in blogs %}
        <div class="post">
          <h2 class="post_header entry-header">{{ blog.title }}</h2>
          <p class="date">{{ blog.date }}</p>
          <div class="post_content markdown-body" id="markdown-preview-{{ loop.index }}"></div>
          <!-- 隐藏的 Markdown 文本 -->
          <textarea id="markdown-content-{{ loop.index }}" style="display:none;">{{ blog.content | safe }}</textarea>
          <!-- <p class="post_content">{{ blog.content }}</p> -->
          <a class="navi-href" href="{{ url_for('main.blog_detail', year=blog.year, month=blog.month, html_title=blog.html_title) }}">阅读全文 "{{ blog.title }}"  >></a>
        </div>
        {% endfor %}
        </div>
      </div>
    </div>
    <script>
      // 遍历所有博客的 Markdown 内容并渲染
      document.querySelectorAll('[id^="markdown-content-"]').forEach((textarea) => {
          // 获取当前的唯一 ID
          const contentId = textarea.id; // e.g., "markdown-content-1"
          const previewId = contentId.replace('content', 'preview'); // e.g., "markdown-preview-1"

          // 调用渲染函数
          renderMarkdownPreview(contentId, previewId);
      });
    </script>
  </body>

</html>