<!DOCTYPE html>
<html>
  <head>
    <title>HTML Test File</title>
    <!-- debug -->
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <script src="../static/js/scripts.js"></script>
    <!-- release -->
     <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <div>My Blog</div>
        <button class="writing_btn" onclick="navigateToWriting()">写日志</button>
      </div>
      <div class="sidebar">
        <h3 class="entry-header sidebar-header">MISC</h3>
        <ul class="sidebar-misc">
          <li>留言本</li>
          <li></li>
        </ul>
      </div>
      <div class="main">
        {% for blog in blogs %}
        <div class="post">
          <h2 class="post_header entry-header">{{ blog.title }}</h2>
          <p class="date">{{ blog.date }}</p>
          <p class="post_content">{{ blog.content }}</p>
          <a href="{{ url_for('main.blog_detail', year=blog.date.split('-')[0], month=blog.date.split('-')[1], html_title=blog.html_title) }}">阅读更多 "{{ blog.title }} >>"</a>
        </div>
        {% endfor %}
        </div>
      </div>
    </div>
  </body>
</html>