<!DOCTYPE html>
<head>
    <script src="https://cdn.jsdelivr.net/npm/@fingerprintjs/fingerprintjs@3/dist/fp.min.js"></script>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</head>
<body>
    <script>
        getBrowserFingerprint().then(fingerprint => {
            console.log("浏览器指纹:", fingerprint);
        
            fetch('/register_device', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ device_id: fingerprint })
            })
            .then(response => response.json())
            .then(data => {
                console.log(data.message);
                // 跳转回index.html
                window.location.href = "{{ url_for('main.index') }}";
            });
        });
    </script>
</body>